@import "tailwindcss";
@import "@lifecycle/ui/theme.css";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

* {
  border-color: var(--border);
}
